* {
    box-sizing: border-box;
    /*Garante que o site fumncione igual em qualquer caixa(tamanho)*/
    font-family: "Open sans", "sans-serif";

}

@font-face {
    font-family: 'Neue Machina';
    src: url("../fonts/NeueMachina-Regular.otf");
}

body {
    background-color: black;
    color: #fff;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.main::before {
    content: ''; 
    background-image: url('../img/Fundo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width:800vw;
    height: 600vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*transform: rotate(180deg); usado para rotacionar a tela*/
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    .main{max-width: 1024px;margin: 1rem auto;}
}