.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*é usado quando o flex direction é column*/
    position: relative;
}
.header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/header.svg');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: "Neue Machina";
    text-align: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p{
    display: flex;
    flex-direction: row;
    margin: .25rem;
    align-items: center;
}/*Coloca os icones*/
.information p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;    
    background-repeat: no-repeat;
    margin-right: .5rem;
}
.information .user::before{
    background-image: url('assets/img/icons/User_02.svg');
}
.information .mail::before{
    background-image: url('assets/img/icons/Mail.svg');
}
.information .social::before{
    background-image: url('assets/img/icons/social.svg');
}
.information .phone::before{
     background-image: url('assets/img/icons/whats.svg');
}
.information .local::before{
    background-image: url('assets/img/icons/Map_Pin.svg');
}
.information a{
    color: #fff;
}
/*codigo para responsividade da tela*/
@media only screen and (min-width: 768px) {
  .header {display: grid; grid-template-areas: "photo title" "photo information";}
  .header .photo{grid-area: photo;margin: 0 auto;}
  .header .title{grid-area: title;text-align: start;}
  .header .information{grid-area: information;}

}