.skills {
    display: flex;
    flex-direction: column;
 }

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

   }
.skills .personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem;
}

.skills .skillsH {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/html5.svg');
    margin-right: .5rem;
}

.skills .skillsC {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/css3.svg');
    margin-right: .5rem;
}

.skills .skillsG {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/git.svg');
    margin-right: .5rem;
}

.skills .skillsJ {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/js.svg');
    margin-right: .5rem;
}

.skills .skillsL {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/img/icons/linux.svg');
    margin-right: .5rem;
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
 }